<h1>Admin Page<small>...where amazing things happen...</small></h1>

<% if any_unassigned_users? %>
	<%= render('layouts/unassigned_users') %>
<% end %>

<div class="row">
	
	<%= render('layouts/classes') %>
	
	<%= render('layouts/students') %>

	<%= render('layouts/teachers') %>

</div>

