<div class="narrow-wrapper">
	<h2>New Material</h2>

	<%= render 'form' %>
	<br>
	<%= link_to materials_path, class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>Back
<% end %>
</div>